<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/marker.css">
        <link rel="stylesheet" href="/public/css/contextMenu.css">
        <script src="/public/js/markerViews.js"></script>
        <script src="/public/js/contextMenu.js"></script>
        <script src="/public/js/scriptSubmit.js"></script>
        <script src="/public/js/submitAjax.js"></script>
        <script src="/public/js/deleteAjax.js"></script>
        <script src="/public/js/checkAjax.js"></script>
        <script src="/public//js/pageMove.js"></script>
        <script src="/public/js/editScripts.js"></script>
        <script src="/public/js/fileCheck.js"></script>
        <script src="/public/js/finish.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github.min.css">
	    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
	    <script>hljs.initHighlightingOnLoad();</script>
        <script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
        <script>hljs.initLineNumbersOnLoad();</script>
        <!-- <script src="/public/js/initial.js"></script> -->
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>
            function init(completed) {
                document.getElementById("hr1").onmousedown = on_mouse_down_hr1;
                document.getElementById("hr1").onmouseover = on_mouse_over1;
                document.getElementById("hr1").onmouseout = on_mouse_out;

                document.getElementById("hr2").onmousedown = on_mouse_down_hr2;
                document.getElementById("hr2").onmouseover = on_mouse_over2;
                document.getElementById("hr2").onmouseout = on_mouse_out;
                document.onmouseup = on_mouse_up;
                document.onmousemove = on_mouse_move;
                window.onresize = window_on_resize;
                storeY();

                document.getElementById('left').onmousedown = restoreContentLeft;
                document.getElementById('right').onmousedown = restoreContentRight;
                document.getElementById('left').onmouseup = storeSelectionLeft;
                document.getElementById('right').onmouseup = storeSelectionRight;
                document.getElementById('left').addEventListener('contextmenu', handleCreateContextMenu_left, false);
                document.getElementById('right').addEventListener('contextmenu', handleCreateContextMenu_right, false);
                document.addEventListener('click', handleClearContextMenu, false);
                completeShow(completed);
            }
        </script>
    </head>
    <body onload="init('<%= completed %>');">
        <input id="diffNum" type="hidden" value="<%= diffNum %>">
        <header id="header">
            <div class="blank"></div>
            <div class="jump_container">
            </div>
                
            <div class="move_container">
                <div>&nbsp;</div>
                <form id="move_form" action="/" method="post">
                    <input type="button" value="<%= currentFileName %>" disabled>
                    <input class="move_button" type="button" value="Prev" onclick="movePrev();">
                    <input class="move_button" type="button" value="Finish" onclick="finishAll();">
                    <a href="/finish">finish_test</a>
                    <input class="move_button" type="button" value="Next" onclick="moveNext();">
                    <input type="hidden" value="<%= code %>" id="userCode">
                    <input type="hidden" value="<%= currentFileName %>" id="current">
                    <input type="hidden" value="<%= fileCnt %>" id="fileCnt">
                </form>
            </div>
            <div>&nbsp;</div>
            <div class="check_container">
                <input type="button" class="file_button" id="file1" value="1" onclick="movePage(this.value);">
                <input type="button" class="file_button" id="file2" value="2" onclick="movePage(this.value);">
                <input type="button" class="file_button" id="file3" value="3" onclick="movePage(this.value);">
                <input type="button" class="file_button" id="file4" value="4" onclick="movePage(this.value);">
                <input type="button" class="file_button" id="file5" value="5" onclick="movePage(this.value);">
            </div>
        </header>
        <div class="container">
        <section id="section">
            <div id="left">
                <pre><code class="java" id="inner_left"><%- lhsTemplate %></code></pre>                    
            </div>

            <div class="d1" id="hr1">
                <% for (let i = 0; i < diffNum; i++) { %> 
                    <input type="button" class="move_inner" id="#<%= i %>" value="<%= i %>" onclick="move_inner(this.value)">
                <% } %> 
            </div>

            <div id="right">
                <pre><code class="java" id="inner_right"><%- rhsTemplate %></code></pre>
            </div>
        </section>

        <div class="d2" id="hr2">
            Edit Script
        </div>
        
        <footer id="footer">
            <table id="edit_scripts">
                <tr>
                    <th id="es_type">Type</th>
                    <th id="es_old">Old Code</th>
                    <th id="es_old_line">Line#</th>
                    <th id="es_new">New Code</th>
                    <th id="es_new_line">Line#</th>
                    <th id="es_opt">Option</th>
                </tr>
                <%- storedScripts %>
            </table>
        </footer>
        </div>
    </body>
</html>